<%= tag.div id: dom_id(Comment.find(comment.id)) do %>
  <div class="comment-container">
    <div class="comment-header">
      <div class="user">
        <% user = User.find(comment.user_id) %>
        <div>
          <%= image_tag "#{user.image}" %>
        </div>
        <div class="comment-user">
          <%= user.username %>
        </div>
      </div>
      <div class="comment-menu">
        <% if comment.user_id == current_user.id %>
          <div>
            <%= link_to "Edit", edit_post_comment_path(comment.post_id, comment.id) %>
          </div>
          <div>
            <%= button_to "", post_comment_path(comment.post_id, comment.id), method: :delete, data: { turbo_frame: "_top" }, class: "delete" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
  </div>
<% end %>