<%= tag.div id: dom_id(Comment.find(comment.id)) do %>
  <div class="comment-container">
    <div class="comment-header">
      <div>
        <%= "[pfp] #{User.find(comment.user_id).username}" %>
      </div>
      <div class="comment-menu">
        <% if comment.user_id == current_user.id %>
          <div>
            <%= link_to "Edit", edit_post_comment_path(comment.post_id, comment.id) %>
          </div>
          <div>
            <%= button_to "Delete", post_comment_path(comment.post_id, comment.id), method: :delete, data: { turbo_frame: "_top" } %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= comment.content %>
    </div>
  </div>
<% end %>