<div class="user-show-display">
  <div>
    <%= render "follows/follow_button", user: user %>
  </div>
  <div>
    <div>
      <%= image_tag "#{user.image}" %>
    </div>
    <div>
      <%= "Username: #{user.username}"%>
    </div>
    <div>
      <%= "Email: #{user.email}" %>
    </div>
    <div>
      <%= "ID: #{user.id}" %>
    </div>
  </div>
</div>