<div class="page-container">
  <div class="user-info-show">
    <div>
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
      <% elsif @user.image.nil? %>
        <%= image_tag "default-profile-icon.jpeg" %>
      <% else %>
        <%= image_tag "#{@user.image}" %>
      <% end %>
    </div>
    <div class="username-show">
      <%= @user.username %>
    </div>
    <div class="follows">
      <div>
        <%= link_to "#{@user.followers.count} followers", follows_path(:user_id => @user.id) %>
      </div>
      <div>
        <%= link_to "following #{@user.followees.count}", follows_path(:user_id => @user.id) %>
      </div>
    </div>
    <div>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path(current_user) %>
      <% else %>
        <div class="follow">
          <%= render "follows/follow_button", user: @user %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-posts">
    <%= render @posts %>
  </div>
</div>