<div class="page-container">
  <div class="follow-data" data-controller="toggle" data-toggle-hide-class="hide" data-toggle-primary-class="select">
    <div class="follow-buttons">
      <button data-action="click->toggle#follower" data-toggle-target="button">Followers</button>
      <button data-action="click->toggle#following" data-toggle-target="button">Following</button>
    </div>
    <div class="followers" data-toggle-target="follower">
      <% @follows.where(followee_id: @user).each do |follow| %>
        <% user = User.find(follow.follower_id) %>
        <div class="user-show-display">
          <div class="user-info-index">
            <div>
              <% if user.image.nil? %>
                <%= image_tag "default-profile-icon.jpeg" %>
              <% else %>
                <%= image_tag "#{user.image}" %>
              <% end %>
            </div>
            <div class="username-index">
              <%= link_to "#{user.username}", user_path(user.id) %>
            </div>
          </div>
          <div class="follow">
            <%= render "follows/follow_button", user: user %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="following" data-toggle-target="following">
      <% @follows.where(follower_id: @user).each do |follow| %>
        <% user = User.find(follow.followee_id) %>
        <div class="user-show-display">
          <div class="user-info-index">
            <div>
              <% if user.image.nil? %>
                <%= image_tag "default-profile-icon.jpeg" %>
              <% else %>
                <%= image_tag "#{user.image}" %>
              <% end %>
            </div>
            <div class="username-index">
              <%= link_to "#{user.username}", user_path(user.id) %>
            </div>
          </div>
          <div class="follow">
            <%= render "follows/follow_button", user: user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>