<div class="post-container">
  <div>
    <%= post.content %><br>
    <%= "by: " %>
    <%= post.user.email %><br>
  </div>
  <div id="likes">
    <%= render "likes/like", post_id: post.id, post: post %>
  </div>
  <div>
    <div id="comments">
      <%= render "comments/comment", post_id: post.id, post: post %>
    </div>
    <div>
      <%= turbo_frame_tag "add_comment" do %>
        <%= link_to "Add Comment", new_post_comment_path(post.id) %>
      <% end %>
    </div>
    <br>
  </div>
  <div>
    <% if post.user_id == current_user.id %>
      <%= button_to "Delete Post", post_path(post.id), method: :delete %>
    <% end %>
  </div>
</div>
<br>