<div class="post-container">
  <%= tag.div id: dom_id(Post.find(post.id), :edit) do %>
    <%= turbo_frame_tag "edit_post" do %>
      <div class="post-header">
        <div class="user">
          <div>
            <% if post.user.image.nil? %>
              <%= image_tag "default-profile-icon.jpeg" %>
            <% else %>
              <%= image_tag "#{post.user.image}" %>
            <% end %>
          </div>
          <div class="post-user">
            <% if post.user == current_user %>
              <%= link_to "#{post.user.username}", profile_path, data: { turbo_frame: "_top" } %>
            <% else %>
              <%= link_to "#{post.user.username}", user_path(post.user.id), data: { turbo_frame: "_top" } %>
            <% end %>
          </div>
        </div>
        <div class="post-menu">
          <% if post.user_id == current_user.id %>
            <div>
              <%= link_to "Edit", edit_post_path(post.id), method: :get %>
            </div>
            <div>
              <%= button_to "", post_path(post.id), method: :delete, data: { turbo_frame: "_top" }, class: "delete" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content">
        <%= post.content %>
      </div>
    <% end %>
  <% end %>
  <div class="like-comment-count">
    <div class="likes">
      <div class="like-count">
        <%= post.likes.count %>
      </div>
      <div class="like-button">
        <%= render "likes/like", post_id: post.id, post: post %>
      </div>
    </div>
    <%= tag.div id: dom_id(Post.find(post.id), :comment_count) do %>
      <% if post.comments.count == 1 %>
        <%= "#{post.comments.count} Comment"%>
      <% else %>
        <%= "#{post.comments.count} Comments"%>
      <% end %>
    <% end %>
  </div>
  <%= tag.div id: dom_id(Post.find(post.id), :comments) do %>
    <% post.comments.order(id: :asc).each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
  <%= tag.div id: dom_id(Post.find(post.id), :add_comment) do %>
    <%= turbo_frame_tag "add_comment" do %>
      <%= button_to "Add Comment", new_post_comment_path(post.id), method: :get %>
    <% end %>
  <% end %>
</div>