<div class="post-container">
  <div class="post-header">
    <div class="user">
      <%= "[pfp]" %>
      <%= post.user.username %><br>
    </div>
    <div class="post-menu">
      <% if post.user_id == current_user.id %>
        <div>
          <%= link_to "Edit", edit_post_path(post.id) %>
        </div>
        <div>
          <%= button_to "Delete", post_path(post.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content">
    <%= post.content %><br>
  </div>
  <div class="like-comment-count">
    <div class="likes">
      <div class="like-count">
        <%= post.likes.count %>
      </div>
      <div class="like-button">
        <%= render "likes/like", post_id: post.id, post: post %>
      </div>
    </div>
    <div>
      <% if post.comments.count == 1 %>
        <%= "#{post.comments.count} Comment"%>
      <% else %>
        <%= "#{post.comments.count} Comments"%>
      <% end %>
    </div>
  </div>
  <%= tag.div id: dom_id(Post.find(post.id), :comments) do %>
    <% post.comments.order(id: :asc).each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
  <div id="add-comment">
    <%= turbo_frame_tag "add_comment" do %>
      <%= link_to "Add Comment", new_post_comment_path(post.id) %>
    <% end %>
  </div>
</div>