<%= turbo_frame_tag "new_post" do %>
  <%= form_with model: @post do |f| %>
    <div class="post-form">
      <% if @post.errors.any? %>
        <ul class="errors">
          <% @post.errors.full_messages.each do |message| %>
            <li class="error-message"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="field">
        <%= f.text_area :content, placeholder: "What would you like to share?" %>
      </div>
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.submit "Submit", class: "submit" %>
      </div>
    </div>
  <% end %>
<% end %>