<%= turbo_stream.update dom_id(Post.find(@post.id), :edit) do %>
  <%= turbo_frame_tag "edit_post" do %>
    <div class="post-header">
        <div class="user">
          <div>
            <% if @post.user.image.nil? %>
              <%= image_tag "default-profile-icon.jpeg" %>
            <% else %>
              <%= image_tag "#{@post.user.image}" %>
            <% end %>
          </div>
          <div class="post-user">
            <%= @post.user.username %><br>
          </div>
        </div>
        <div class="post-menu">
          <% if @post.user_id == current_user.id %>
            <div>
              <%= link_to "Edit", edit_post_path(@post.id), method: :get %>
            </div>
            <div>
              <%= button_to "", post_path(@post.id), method: :delete, class: "delete" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content">
        <div class="content-text">
          <%= @post.content %>
        </div>
        <div>
          <%= image_tag @post.image %>
        </div>
      </div>
  <% end %>
<% end %>