<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
  </header>
  <body>
    <div class="header">
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %><br>
        <%= link_to "Home Feed", root_path %><br>
        <%= link_to "Your Profile", user_path(current_user) %><br>
        <%= link_to "User List", users_path %><br>
      <% end %>
      <br>
    </div>
    <%= yield %>
  </body>
</html>
