<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
  </header>
  <body>
    <div class="header">
      <div class="link-container">
        <% if user_signed_in? %>
          <div class="link">
            <%= link_to "Home", root_path %>
          </div>
          <div class="link">
            <%= link_to "Users", users_path %>
          </div>
          <div class="link">
            <%= link_to "Profile", user_path(current_user) %>
          </div>
          <div class="link">
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
