<!DOCTYPE html>
<html>
  <head>
    <title>Jester Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
  </header>
  <body>
    <div class="header">
      <div class="site-name">Jester Network</div>
      <%= render "layouts/nav" %>
    </div>
    <%= yield %>
  </body>
</html>
